In [36]:
import pandas as pd
import numpy as np
import random

In [37]:
df=pd.DataFrame(columns=['Average_Price','Single','Date','Business','Casual','Family','Longitude','Latitude','Japanese','Korean','Chinese','Thai','Mexican','Italian','Fast_Food','Medi', 'Indi','Spicy_Level','Rating'])
df

Empty DataFrame
Columns: [Average_Price, Single, Date, Business, Casual, Family, Longitude, Latitude, Japanese, Korean, Chinese, Thai, Mexican, Italian, Fast_Food, Medi, Indi, Spicy_Level, Rating]
Index: []

In [38]:
for i in range(1,1001):
    avg_price=np.random.normal(25,10)
    single=random.randint(0,1)
    date=random.randint(0,1)
    business=random.randint(0,1)
    casual=random.randint(0,1)
    family=random.randint(0,1)
    
    
    longitude=random.uniform(-1,1)*180
    latitude=random.uniform(-1,1)*90
    """
    japanese=random.randint(0,1)
    korean=random.randint(0,1)
    chinese=random.randint(0,1)
    thai=random.randint(0,1)
    mexican=random.randint(0,1)
    italian=random.randint(0,1)
    fast_food=random.randint(0,1)
    dessert=random.randint(0,1)
    """
    japanese=0
    korean=0
    chinese=0
    thai=0
    mexican=0
    italian=0
    fast_food=0
    medi=0
    indi=0
    
    food_type=random.randint(0,8)
    if food_type == 0:
        japanese = 1
    elif food_type == 1:
        korean = 1
    elif food_type == 2:
        chinese = 1
    elif food_type == 3:
        thai = 1
    elif food_type == 4:
        mexican = 1
    elif food_type == 5:
        italian = 1
    elif food_type == 6:
        fast_food = 1
    elif food_type == 7:
        medi = 1
    else:
        indi = 1
    
    spicy=random.randint(0,5)
    rating=random.uniform(0,5)
    
    restaurant=[avg_price,single,date,business,casual,family,longitude,latitude,japanese,korean,chinese,thai,mexican,italian,fast_food,medi,indi,spicy,rating]
    df.loc[i]=restaurant

In [39]:
df

,Average_Price,Single,Date,Business,Casual,Family,Longitude,Latitude,Japanese,Korean,Chinese,Thai,Mexican,Italian,Fast_Food,Medi,Indi,Spicy_Level,Rating
1,23.937137,1.0,0.0,1.0,0.0,1.0,-146.967996,21.583274,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,2.984251
2,33.668719,0.0,0.0,1.0,1.0,0.0,30.555953,9.338416,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.125618
3,37.453977,1.0,0.0,0.0,0.0,0.0,39.351571,72.469964,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,2.008396
4,27.746034,0.0,1.0,1.0,0.0,1.0,-140.630196,-63.427247,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.083029
5,22.247896,0.0,0.0,0.0,1.0,0.0,32.430194,-65.738954,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,4.380763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,19.484267,1.0,1.0,1.0,1.0,0.0,31.827509,-45.953394,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.354965
997,25.150088,1.0,1.0,1.0,1.0,1.0,63.870296,-31.148693,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.445601
998,26.595708,0.0,0.0,1.0,1.0,0.0,47.480163,58.345350,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.493968
999,35.622162,1.0,0.0,0.0,1.0,0.0,36.825644,-33.143197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.861726
1000,30.833941,1.0,0.0,1.0,0.0,0.0,-121.514320,-43.162312,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,4.763384

In [40]:
df.to_csv("restaurant.csv")

In [41]:
col_list = ['id','Average_Price','Single','Date','Business','Casual','Family','Longitude','Latitude',
            'Japanese','Korean','Chinese','Thai','Mexican','Italian','Fast_Food','Medi','Indi','Spicy_Level','Rating']
df = pd.read_csv('restaurant4.csv', names=col_list, header=0, index_col = 'id', dtype=np.float64)
df

,Average_Price,Single,Date,Business,Casual,Family,Longitude,Latitude,Japanese,Korean,Chinese,Thai,Mexican,Italian,Fast_Food,Medi,Indi,Spicy_Level,Rating
id,,,,,,,,,,,,,,,,,,,
1.0,13.58,1.0,1.0,0.0,1.0,0.0,-68.20,78.04,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,3.53
2.0,15.93,0.0,0.0,1.0,0.0,0.0,-148.77,-16.06,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.23
3.0,25.10,1.0,1.0,1.0,1.0,1.0,108.89,-87.35,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.37
4.0,38.76,1.0,1.0,1.0,1.0,0.0,-137.35,-22.78,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.04
5.0,17.73,0.0,1.0,0.0,1.0,0.0,-65.15,30.28,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996.0,44.19,1.0,1.0,1.0,0.0,1.0,154.01,35.62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.37
997.0,27.01,1.0,1.0,1.0,1.0,1.0,-153.62,-15.72,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.24
998.0,30.84,1.0,1.0,0.0,1.0,0.0,153.63,78.93,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,2.58
999.0,36.22,1.0,0.0,1.0,0.0,0.0,-151.22,-89.49,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,1.30
1000.0,33.88,0.0,0.0,0.0,1.0,1.0,-39.87,-2.64,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.61

In [42]:
df_test = df.iloc[0:10] 
df_test

,Average_Price,Single,Date,Business,Casual,Family,Longitude,Latitude,Japanese,Korean,Chinese,Thai,Mexican,Italian,Fast_Food,Medi,Indi,Spicy_Level,Rating
id,,,,,,,,,,,,,,,,,,,
1.0,13.58,1.0,1.0,0.0,1.0,0.0,-68.20,78.04,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,3.53
2.0,15.93,0.0,0.0,1.0,0.0,0.0,-148.77,-16.06,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.23
3.0,25.10,1.0,1.0,1.0,1.0,1.0,108.89,-87.35,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.37
4.0,38.76,1.0,1.0,1.0,1.0,0.0,-137.35,-22.78,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.04
5.0,17.73,0.0,1.0,0.0,1.0,0.0,-65.15,30.28,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.10
6.0,22.97,0.0,0.0,1.0,0.0,1.0,62.32,-18.18,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.95
7.0,16.80,0.0,1.0,0.0,1.0,1.0,169.29,46.24,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,3.46
8.0,19.44,0.0,0.0,1.0,1.0,0.0,2.95,68.73,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,1.56
9.0,3.73,1.0,0.0,1.0,0.0,0.0,125.74,-67.21,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.53
10.0,36.69,1.0,0.0,0.0,1.0,0.0,-21.02,-26.98,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.44

In [44]:
df.iloc[[1]]

,Average_Price,Single,Date,Business,Casual,Family,Longitude,Latitude,Japanese,Korean,Chinese,Thai,Mexican,Italian,Fast_Food,Medi,Indi,Spicy_Level,Rating
id,,,,,,,,,,,,,,,,,,,
2.0,15.93,0.0,0.0,1.0,0.0,0.0,-148.77,-16.06,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.23

In [49]:
import math
def Dist(row, input_labels): # to be modified
    distance = 0
    for j in range(len(row)):
        if j in range(8, 17): # 9 options
            if (row[j] == 1 and input_labels[j] == 0):
                distance += 100
            elif row[j] == 1 and input_labels[j] > 0:
                distance -= 30 * input_labels[j]
            elif row[j] == 1 and input_labels[j] < 0:
                distance += 100 + (-1) * 500 * input_labels[j]
            else:
                continue
        elif j in range(1, 6): # 5 options
            if (row[j] == 0 and input_labels[j] == 1):
                distance += 1000
            else:
                continue
        else:
            dist = (row[j] - input_labels[j])*(row[j] - input_labels[j])
            distance += dist
    distance = math.sqrt(distance)
    return distance
# fake_user_input = [1, 2, 3, 4, 5, 6, 7, 8]
# row = [1, 2, 3, 4, 5, 6, 7, 8]
# print(Dist(row,fake_user_input))

In [50]:
def Get_Input_Labels(user_input):
    input_labels = []
    avg_price = (user_input[0][0] + user_input[0][1]) / 2
    input_labels.append(avg_price) # price
    if (user_input[1] == 'SINGLE'):
        input_labels.extend([1, 0, 0, 0, 0])
    elif user_input[1] == 'DATE':
        input_labels.extend([0, 1, 0, 0, 0])
    elif user_input[1] == 'BUSINESS':
        input_labels.extend([0, 1, 0, 0, 0])
    elif user_input[1] == 'CASUAL':
        input_labels.extend([0, 1, 0, 0, 0])
    else:
        input_labels.extend([0, 0, 1, 0, 0]) # function
    input_labels.extend([user_input[2][0], user_input[2][1]]) # location
    # type
    types = user_input[3]
    if ('JAPANESE' in types):
        input_labels.append(1)
    else:
        input_labels.append(0)
    if ('KOREAN' in types):
        input_labels.append(1)
    else:
        input_labels.append(0)
    if ('CHINESE' in types):
        input_labels.append(1)
    else:
        input_labels.append(0)
    if ('THAI' in types):
        input_labels.append(1)
    else:
        input_labels.append(0)
    if ('MEXICAN' in types):
        input_labels.append(1)
    else:
        input_labels.append(0)
    if ('ITALIAN' in types):
        input_labels.append(1)
    else:
        input_labels.append(0)
    if ('FAST_FOOD' in types):
        input_labels.append(1)
    else:
        input_labels.append(0)
    if ('MEDI' in types):
        input_labels.append(1)
    else:
        input_labels.append(0)
    if ('INDI' in types):
        input_labels.append(1)
    else:
        input_labels.append(0)
   
    # spicy
    input_labels.append(user_input[4])
    input_labels.append(5)
    return input_labels

In [51]:
# individual
# user input: contains avg_price,function,location,type,spicy,rating(not included); history: array of rest id
fake_user_input = [(10, 20), 'SINGLE', (100, 200), ['CHINESE'], 5]
def Single_Return_Rests(user_input, history):
    input_labels = Get_Input_Labels(user_input)
    print(input_labels)
    # calculate euclidean distance
    temp_rests = [-1, -1, -1]
    smallest_dists = [1000000000, 1000000000, 1000000000]
    for i, row in df_test.iterrows(): # a row is a ret
        
        if i == 0:
            continue
        # calculate distance
        distance = Dist(row, input_labels)
        print(distance)
        if distance < smallest_dists[0]:
            smallest_dists[2] = smallest_dists[1]
            smallest_dists[1] = smallest_dists[0]
            smallest_dists[0] = distance
            temp_rests[2] = temp_rests[1]
            temp_rests[1] = temp_rests[0]
            temp_rests[0] = i
        elif distance < smallest_dists[1]:
            smallest_dists[2] = smallest_dists[1]
            smallest_dists[1] = distance
            temp_rests[2] = temp_rests[1]
            temp_rests[1] = i
        elif distance < smallest_dists[2]:
            smallest_dists[2] = distance
            temp_rests[2] = i
    return temp_rests
print(Single_Return_Rests(fake_user_input, []))

[15.0, 1, 0, 0, 0, 0, 100, 200, 0, 0, 1, 0, 0, 0, 0, 0, 0, 5, 5]
208.01360268020935
331.17665119992984
287.8710153871001
326.60540427249515
239.1887618597496
224.09845648732164
171.89779899696214
166.6825203793127
268.953017272534
258.3636400502207
[8.0, 7.0, 1.0]

In [96]:
# group recommendation
# user input: contains an array of avg_price,function,location,type,spicy,rating(not included); history: array of rest id
fake_user_input = [[(10, 20), 'SINGLE', (100, 200), ['CHINESE'], 5], [(20, 40), 'SINGLE', (100, 200), ['CHINESE'], 5]]
# [100][010][001][100] = [0.5, 0.25, 0.25]->[100][010][001] result:
def Group_Return_Rests(user_input_list, history, force):
    group_input_labels = 0
    for user_input in user_input_list:
        input_labels = Get_Input_Labels(user_input)
        
        group_input_labels = np.array(group_input_labels) + np.array(input_labels)
    input_labels = group_input_labels / len(user_input_list)
    print(input_labels)
    # calculate euclidean distance
    temp_rests = [-1, -1, -1]
    smallest_dists = [1000000000, 1000000000, 1000000000]
    for i, row in df_test.iterrows(): # a row is a ret
        
        if i == 0:
            continue
        # calculate distance
        distance = Dist(row, input_labels)
        print(distance)
        if distance < smallest_dists[0]:
            smallest_dists[2] = smallest_dists[1]
            smallest_dists[1] = smallest_dists[0]
            smallest_dists[0] = distance
            temp_rests[2] = temp_rests[1]
            temp_rests[1] = temp_rests[0]
            temp_rests[0] = i
        elif distance < smallest_dists[1]:
            smallest_dists[2] = smallest_dists[1]
            smallest_dists[1] = distance
            temp_rests[2] = temp_rests[1]
            temp_rests[1] = i
        elif distance < smallest_dists[2]:
            smallest_dists[2] = distance
            temp_rests[2] = i
    return temp_rests
print(Group_Return_Rests(fake_user_input, []))

[ 22.5   0.    0.    1.  100.  200.    0.    0.    1.    0.    0.    0.
   0.    0.    5.    5. ]
287.93619396907746
195.36324821546017
267.09271019337433
204.33822644024582
277.05010696003995
210.7663719797414
274.80374488285247
209.15860425439817
143.51739612659574
139.5964132060125
[10.0, 9.0, 2.0]

In [97]:
l1 = 0
l2 = [2,3]
l3 = np.array(l1)+np.array(l2)
print(np.array(l3)+np.array(l2))

[4 6]

In [98]:
# 3 
# model1: abc, genetic:edf, similaruser:gfh
fake_user_input = [(10, 20), 'SINGLE', (100, 200), ['CHINESE'], 5]

# history STORES 10 accepted restaurants and 10 rejected restaurants [[id1, id2...],[]]
def Mutate_input(user_input, history):
    mutate_list = np.array([0, 0, 0, 0, 0, 0, 0, 0])
    for rest_id in history[0]:
        rest_type = df_test.iloc[rest_id][6:14].values
        mutate_list = mutate_list + rest_type
    for rest_id in history[1]:
        rest_type = df_test.iloc[rest_id][6:14].values
        mutate_list = mutate_list - rest_type
    mutate_list = mutate_list / float(len(history[0]) + len(history[1]))
    mutate_list = list(user_input[:6]) + list(mutate_list) + list(user_input[14:]) 
    print(mutate_list)
    return mutate_list

def Single_Genetic_Return_Rests(user_input, history):
    input_labels = Get_Input_Labels(user_input)
    # mutate input
    input_labels = Mutate_input(input_labels, history)
    # calculate euclidean distance
    temp_rests = [-1, -1, -1]
    smallest_dists = [1000000000, 1000000000, 1000000000]
    for i, row in df_test.iterrows(): # a row is a ret
        
        if i == 0:
            continue
        # calculate distance
        distance = Dist(row, input_labels)
        print(distance)
        if distance < smallest_dists[0]:
            smallest_dists[2] = smallest_dists[1]
            smallest_dists[1] = smallest_dists[0]
            smallest_dists[0] = distance
            temp_rests[2] = temp_rests[1]
            temp_rests[1] = temp_rests[0]
            temp_rests[0] = i
        elif distance < smallest_dists[1]:
            smallest_dists[2] = smallest_dists[1]
            smallest_dists[1] = distance
            temp_rests[2] = temp_rests[1]
            temp_rests[1] = i
        elif distance < smallest_dists[2]:
            smallest_dists[2] = distance
            temp_rests[2] = i
    return temp_rests
print(Single_Genetic_Return_Rests(fake_user_input, [[3, 3, 3, 3, 3, 3, 3, 3], [2, 2, 2, 2, 2, 2, 2, 2]]))

[15.0, 0, 0, 1, 100, 200, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5, 5]
288.01317482573296
195.36569572444265
267.08594119766366
204.48464866682576
277.4704802500972
211.0944564124144
275.55480086988115
209.25963727304878
144.47623785300541
140.233566551428
[10.0, 9.0, 2.0]

In [84]:
df_test.iloc[2][6:14].values

array([1., 0., 0., 0., 0., 0., 0., 0.])